/*parametre généraux*/
body {
    font-family: 'raleway', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    color: #0065FC;
}

a {
    text-decoration: none;
}

/* icones */
i {
    align-self: center;  
}

.img-caption {
    color: #000;
}

p {
    color: ;
}

/* Header*/
header {
    display: flex;
    justify-content: space-between;
}

.nav-link {
    justify-content: space-between;
    padding: 20px;
}

#navbar {
    margin-top: 30px;
    margin-right: 30px;        
}

.res {
    margin-top: 10px;
    margin-left: 30px;
}

#navbar a:hover {
    border-top: solid 2px #0065FC;
    padding-top: 30px;
}

/* Section 1*/
#section_one {
    margin-left: 10px;
    align-items: flex-start;
    align-content: flex-start; 
    margin-left: 30px;
}

/* form*/
#form {
    display: flex;
    height: 30px;
    border: none;      
}

/* Button */
#Rechercher {   
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: #fff;
    border: none;
}

/* filtres */
.pul {
    display: flex;
    align-items: center; 
}

.fil{
    padding: 5px;   
    margin: 20px 10px; 
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color: #000000;
}

.plus {
    margin-left: 30px;
}

/*Section 2 Description*/
#description {
    margin-left: 30px; 
    background-color: #F2F2F2;
    border: 5px;
    border-radius: 30px; 
    width: 60%; 
}

/*div heber*/
.heber{    
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    
}

.img-div {
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
    background-color: #fff;
    height: 230px;
}

/*image heber*/
.one {
    border: 3px #fff solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 210px;
    height: 120px;
}

/*Section 2 continue*/
#featured_content{
    margin-right: 30px;    
    background-color: #F2F2F2;
    border: 5px;
    border-radius: 30px;
    width: 38%;
    margin-right: 10px;
}

/*div popu*/
.popu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    
}

.img-popu {
    display: flex;
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
    background-color: #fff;
}

.two {
    border: 3px #fff solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 150px;
    height: 154px;
    margin-right: 10px;
}

.caption{
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
}

/*.star {
    flex-direction: row;
}*/

/* div section 2/section 2 continue*/
.container {
    display: flex;
    justify-content: space-between;
}

/*Section 4 Details*/
#activités {
    margin: 30px 30px;
    border-radius: 30px;
}

.three {
    border: 3px #fff solid;
    border-radius: 30px;
    height: 200px;
}

.acts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

/*footer*/
footer {
    background-color: #F2F2F2;
    border: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}

.propo{
    display: flex;
    flex-direction: column;
    color: #000000;
}

.foot {
    justify-content: flex-start;
}