/*parametre généraux*/
body {
    font-family: 'raleway', sans-serif;
}

ul {
    list-style: none;
    display: flex;
    color: #0065FC;
}

a {
    text-decoration: none;
}

/* icones */
i {
    align-self: center;  
}

/* Header*/
header {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.nav-link {
    justify-content: space-between;
    padding: 20px;
}

#navbar {
    margin-top: 20px;        
}

#navbar a:hover {
    border-top: solid 2px #0065FC;
    padding-top: 30px;
}

/* Section 1*/
#section_one {
    margin-left: 10px;
    align-items: flex-start;
    align-content: flex-start;
}

/* form*/
#form {
    display: flex;
    height: 30px;       
}

/* Button */
#Rechercher {   
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: #fff;
}

/* filtres */
.pul {
    display: flex;
    align-items: center; 
}

.fil{
    padding: 5px;   
    margin: 20px 10px; 
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color: #000000;
}

/*Section 2 Description*/
#description {
    margin-left: 10px;
}

.heber{    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #F2F2F2;
    border: 5px #F2F2F2 solid;
    border-radius: 30px;
}

.img-div {
    border: 3px #F2F2F2 solid;
    border-radius: 30px;
    background-color: #fff;
}

.one {
    border: 3px #fff solid;
    border-radius: 30px;
    height: 200px;
}